services:
  mysql:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_DATABASE: app_db
      MYSQL_ROOT_PASSWORD: app_root
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
